/* Here we will set the font and background. */
body {
    margin: 0;  
    padding: 0;
    background: #3498DB;
    font-family: sans-serif;
  }
  
  /* Now we will prepare our box. */
  .box {
    border-radius: 150px;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #34495E;
    text-align: center;
  }
  
  /* With the box finished we can continue with the "Login" text. */
  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }

  .box h1:hover{
    color: #dd3535;
    transition: 0.25s;
  }
  
  /* Now we need to configure our inputs. */
  .box input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0676c0;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  .box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 250px;
    transition: 0.25s;
    border-color: blueviolet;
  }
  
  .box input[type = "text"]:hover{
    width: 280px;
    border-color: #2ecc71;
  }

  .box input[type = "password"]:hover{
    width: 280px;
    border-color: #dfd228;
  }
  
  .box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ECC71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 1s;
    cursor: pointer;
  }
  
  .box input[type = "submit"]:hover {
    background: #2ECC71;
  }